* {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.container {
  max-width: 1090px;
  margin: 0 auto;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
}
h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}
span {
  color: #fff;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-1-2 {
  width: 50%;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.col-1-3 {
  float: left;
  width: 33.3333%;
  padding: 0 10px;
}
.col-1-4 {
  float: left;
  width: 25%;
  padding-right: 10px;
  padding-left: 10px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  transition: 0.5s all;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
/* ------------------------------------------ */
/* main-hero */
/* ------------------------------------------ */
.main-hero {
  height: 1000px;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.1);
}
.page-logo {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  color: #000;
  line-height: 90px;
  font-weight: bold;
}
.page-nav {
  float: right;
}
.page-nav-list li {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.page-nav-list li:last-child {
  border: none;
}
.page-nav-list a {
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 90px;
  padding: 0 15px;
  color: #fff;
  transition: 0.5s all;
}
.page-nav-list a:hover {
  background: #fff;
  color: black;
}
.main-banner {
  padding-top: 230px;
  text-align: center;
}
.main-banner-title {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-banner-text {
  padding: 60px 0;
  line-height: 1.5;
  color: #828282;
}
.main-banner-btn {
  width: 200px;
  line-height: 60px;
  margin: 0 10px;
}
.main-banner-btn:hover {
  background: #fff;
  color: #000;
}
.main-banner-link {
  margin-top: 250px;
  display: block;
}
.main-banner-link img {
  width: 30px;
  height: 30px;
}
/* ------------------------------------------ */
/* main-articles */
/* ------------------------------------------ */
.main-articles {
  background: rgb(248, 218, 106);
}
.main-articles-text {
  padding: 15px 0;
}
.main-articles-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-articles-title:after {
  content: "";
  display: block;
  width: 120px;
  border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 70px;
}
.article-title {
  text-transform: uppercase;
  padding: 20px 0;
}
.article-text {
  color: #828282;
  padding-bottom: 30px;
}
.article-btn {
  padding: 15px 40px;
  margin-bottom: 100px;
  border: 1px solid #000;
}
.article-btn:hover {
  background: rgb(248, 218, 106);
  color: #000;
  border: 1px solid #000;
}
/* ------------------------------------------ */
/* main-gallery */
/* ------------------------------------------ */
.main-gallery {
  background: rgb(235, 205, 102);
  padding-top: 100px;
}
.main-gallery-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0;
}
.main-gallery-title:after {
  content: "";
  display: block;
  width: 120px;
  border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 70px;
}
.gallery {
  text-align: center;
}
.gallery-img {
  border-radius: 50%;
}
.gallery-title {
  padding: 30px 0;
  text-transform: uppercase;
}
.gallery-text {
  color: #828282;
  padding-bottom: 30px;
}
.gallery-btn {
  padding: 15px 40px;
  margin-bottom: 100px;
  border: 1px solid #000;
}
.gallery-btn:hover {
  background: rgb(235, 205, 102);
  color: #000;
  border: 1px solid #000;
}
/* ------------------------------------------ */
/* main-paralax */
/* ------------------------------------------ */
.main-paralax {
  background: rgb(248, 218, 106);
  padding: 100px 0;
}
.main-paralax-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0;
}
.main-paralax-title:after {
  content: "";
  display: block;
  width: 120px;
  border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 70px;
}
.paralax-text {
  color: #828282;
  text-align: justify;
}
.paralax-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
/* ------------------------------------------ */
/* main-footer */
/* ------------------------------------------ */
.main-footer {
  background: #000;
  padding: 50px 0;
}
.page-footer-nav {
  display: inline-block;
}
.page-footer-nav:first-child {
  padding-right: 120px;
}
.page-footer-nav-list a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
  transition: 0.5s all;
}
.page-footer-copyright {
  float: right;
  color: #828282;
}
